@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff") format("woff"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf") format("truetype"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
    src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff") format("woff"), url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf") format("truetype"), url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
    font-weight: normal;
    font-style: normal; }

:root{
    --header-height: 76px;
    --leftbar-width: 215px;
    --font-regular: 'Proxima Nova Regular';
    --font-bold: 'Proxima Nova Bold';
    --theme-green : #2ecc71;
    --theme-gray : #96a6a7;
}

* {
    letter-spacing: 0.15px;
    transition: 0.3s ease;
    font-family: var(--font-regular);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.header-profile {
    background-color: var(--theme-green);
    width: 215px
}

.header-profile>p {
    font-family: var(--font-regular);
    font-size: 13px;
}

.navbar {
    justify-content: normal!important;
}

.navbar .nav-link {
    padding-left: 0.5em!important;
    padding-right: 0.5em!important;
    padding-top: 0.5em!important;
}

input[type="search"] {
    color: var(--theme-gray);
    font-size: 13px;
    width: 105px;
}

.task-bar {
    width: calc(100vw - var(--leftbar-width));
}

.sidebar {
    background-color: #34495e;
    margin-top: var(--header-height);
    width: var(--leftbar-width);
    height: 100vh;
    position: fixed;
}

.sidebar-active {
    background: #243342;
    color: white;
}

.menu-title {
    color: var(--theme-gray);
    font-size: 16px;
    font-family: var(--font-bold);
    text-transform: uppercase;
}

.menu-title-active {
    color: white;
}

.main-container {
    position: fixed;
    margin-left: var(--leftbar-width);
    margin-top: var(--header-height);
    height: 100vh;
    width: calc(100vw - var(--leftbar-width));
}

.error-404 {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

.error-404>p {
    width: 100%;
    text-align: center;
    font-family: var(--font-bold);
    font-size: 72px;
    margin-top: -215px;
}

.error-403>img {
    height: 100%;
    width: 100%;
}

.profile-name {
    color: black;
    padding-right: 5px;
    font-family: var(--font-bold);
    font-size: 20px; }

.profile-avatar {
    padding-left: calc(1rem + 17px);
}

.profile-additional-text {
    color: gray;
}

.profile-buttons {
    flex:1;
    text-align: end;
}

#pencil, #exit {
    transition: 0s;
    background-color: white;
    border: #96a6a7 2px solid; }

#pencil:hover, #exit:hover {
    background-color: #2ecc71;
    fill: white;
    border-color: #2ecc71; }
#pencil:hover svg, #exit:hover svg {
    background-color: #2ecc71;
    fill: white;
    border-color: #2ecc71; }

.dashboard-switch {
    font-family: var(--font-bold);
    text-transform: uppercase;
    font-size: 15px;
    transition: none;
}


.dashboard-switch>a, .dashboard-switch>a:hover,
.dc-show-more>a, .dc-show-more>a:hover{
    all: unset;
    cursor: pointer;
}

.dashboard-switch-active {
    border-bottom: #2ecc71 3px solid;
}

.dashboard-container {
    font-size: 14px;
    color: var(--theme-gray);
    background: #ecf0f1;
    height: 100%;
    padding: 2rem;
}

.dashboard-card {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px;
}

.dashboard-experience {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    margin-left: 15px;
    border-right: #ecf0f1 1px solid;
}

.exp-title {
    margin-bottom: 0;
    padding: 1rem 1rem 0.5rem 32px;
    font-size: 16px;
}

.exp-progress, .exp-progress-bars {
    padding: 0 15px;
}

.exp-progress-amount {
    padding: 0 0 0 15px;
}

.exp-progress {
    min-height: var(--header-height);
    border-bottom: #ecf0f1 1px solid;
}

.exp-progress-bars, .exp-progress-amount {
    flex: 0 0 25%;
    max-width: 25%;
}

.exp-progress-amount>.number {
    text-align: center;
    height: 35px;
    font-size: 32px;
    font-family: var(--font-bold);
    color: #2ecc71;
}

.dashboard-friends {
    flex: 1;
    max-width: 66.66667%;
    margin-right: 15px;
}

.dashboard-experience, .dashboard-friends {
    margin-top: 32px;
    background: white;
}

.dc-headline {
    height: 80px;
    text-align: center;
    text-transform: uppercase;
}

.dc-headline>div {
    width: 100%;
}

.dc-headline-amount{
    margin: 6px 0;
    height: 35px;
    font-family: var(--font-bold);
    font-size: 32px;
}

.dc-textrow {
    padding-left: 1.5em;
    padding-top: 15px;
    height: 50px;
    border-bottom: #ecf0f1 1px solid;
    background: white;
}

.dc-textrow p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 12px;
}

.dc-show-more {
    height: 40px;
    padding-top: 10px;
    font-family: var(--font-bold);
    text-align: end;
    padding-right: 12px;
    color: black;
    background: white;
}

.exp-progress-title {
    text-transform: uppercase;
    font-size: 12px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.vertical {
    background: #ecf0f1;
    height: 70%;
    width: 100%;
    transform: rotate(-180deg);
}

.vertical-bar {
    background: var(--theme-green);
}

.bold-n-black {
    font-family: var(--font-bold);
    color: black;
}

.dashboard-friends-title {
    font-family: var(--font-bold);
    font-size: 16px;
}

.dashboard-friends-title, .dashboard-friends-name {
    text-transform: uppercase;
}

.friends-textrow {
    padding-top: 10px;
}

.friends-textrow>p {
    padding-right: 0;
}

.dashboard-friends-name {
    color: blue;
    padding-top: 2px!important;
    font-size: 13px;
}

/*SVUSNYTO V INETI*/

.rating {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    height: 20px;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

